QUESTION-1
Write a python program which searches all the product under a particular product vertical
from www.amazon.in. The product verticals to be searched will be taken as input from user.
For e.g. If user input is ‘guitar’. Then search for guitars.

In [4]:
#!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [121]:
import selenium
from selenium import webdriver

In [122]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [123]:
url='http://www.amazon.in/'
driver.get(url)

In [124]:
driver.maximize_window()

In [125]:
print(" Enter the item that you want to search for: ")
item=input()

 Enter the item that you want to search for:
mobile

In [127]:
search_column=driver.find_elements_by_xpath("//input[@class='nav-input nav-progressive-attribute']")
search_column[0].send_keys(item)

In [128]:
search_column[1].click()

END OF ANSWER TO THE FIRST QUESTION

QUESTION-2

In [24]:
#Scraping required details

In [327]:
def scrape_brand_title():
    #driver.get(url)
    brand_title=[]
    try:
        
        
        br=driver.find_elements_by_xpath("//tr[@class='a-spacing-small']")
        for i in br:
            
            if (i.text.find('Brand')!=-1):
                
                brand_title.append(i.text.replace("Brand",""))
        
    except:
        brand_title.append("--")
        
    return brand_title

In [258]:
def scrape_rating():
    #driver.get(url)
    rating=[]
    try:
        
        rating_el=driver.find_element_by_xpath("//td[@class='a-size-base']")
        rating.append(rating_el.text.replace("\n","#"))
        
        
    except:
        print("exception raised")
    return r

In [259]:
def scrape_url():
    #driver.get(url)
    urls=[]
    url=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
    for i in url:
        
        try:
            urls.append(i.get_attribute("href"))
        except:
            urls.append("--")
    return urls

In [250]:
def scrape_n_rating():
   # driver.get(url)
    n_rating=[]
    try:
        n_rating_el=driver.find_elements_by_xpath("//span[@id='acrCustomerReviewText']")
        n_rating.append(n_rating_el[0].text)
    except:
        n_rating.append("--")
    return n_rating

In [251]:
def scrape_price():
    #driver.get(url)
    price=[]
    
    try:
        price_el=driver.find_element_by_xpath("//td[@class='a-span12']/span")
        price.append(price_el.text)
    except:
        price.append("--")
    return price

In [252]:
def scrape_delivery_date():
    #driver.get(url)
    
    del_date=[]
    try:
        delivery=driver.find_element_by_xpath("//div[@class='a-section a-spacing-mini']/b")
        del_date.append(delivery.text)
    except:
        del_date.append("--")
    return del_date

In [253]:
def scrape_details():
    #driver.get(url)
    details=[]
    detail=[]
    try:
        detail_el=driver.find_elements_by_xpath("//ul[@class='a-unordered-list a-vertical a-spacing-mini']/li/span")
        for i in detail_el:
            detail.append(i.text)
        details.append(detail)
    except:
        details.append("--")
    return details

In [254]:
def scrape_availablity():
    #driver.get(url)
    status=[]
    try:
        avail_el=driver.find_element_by_xpath("//div[@id='availability']/span")
        status.append(avail_el.text)
    except:
        status.append("--")
    return status

In [329]:
def scrape_brand_product_title():
    #driver.get(url)
    product_title=[]
    
    try:
        
        br=driver.find_elements_by_xpath("//span[@class='a-size-large product-title-word-break']")
        for i in br:
            
            
            
                product_title.append(i.text)
        
    except:
        product_title.append("--")
    return product_title

In [330]:
#looping through urls to scrape data from the first 3 pages
import time

In [332]:
url=[]
price=[]
brand=[]
product_brand=[]
rating_and_num=[]
n_rat=[]
other=[]
delivery=[]
availablity=[]
page=1
try:
    while(page<=3):
        
        curr_url=(driver.current_url)
        urls=scrape_url()
        url.extend(urls)
    
        for i in urls:
            driver.get(i)
            time.sleep(3)
            brand.extend(scrape_brand_title())
            product_brand.extend(scrape_brand_product_title())
            rating_and_num.append(scrape_rating())
       
            #n_rat.extend(scrape_n_rating(i))
            other.extend(scrape_details())
            delivery.extend(scrape_delivery_date())
            availablity.extend(scrape_availablity())
            price.extend(scrape_price())
        
        driver.get(curr_url)  
        
        next_btn=driver.find_element_by_xpath("//li[@class='a-last']")
        next_btn.click()
        page=page+1
        time.sleep(3)
    
except:
    
    print("No more elements to be scraped")
len(product_brand)

exception raised

69

In [337]:
n_rat=[]
rating=[]
#separating rating and number of ratings data
for i in rating_and_num:
    p=rat_num.find('#')
    first=rat_num[:p]
    second=rat_num[p+1:]
    n_rat.append(first)
    rating.append(second)

In [334]:
brand

[' Samsung',
 ' Samsung',
 ' Redmi',
 ' Redmi',
 ' Realme',
 ' OnePlus',
 ' Vivo',
 ' Samsung',
 ' Redmi',
 ' Redmi',
 ' Samsung',
 ' Oppo',
 ' Redmi',
 ' Redmi',
 ' Samsung',
 ' Redmi',
 ' Samsung',
 ' Redmi',
 ' Oppo',
 ' Realme',
 ' Samsung',
 ' Samsung',
 ' Samsung',
 ' Samsung',
 ' Nokia',
 ' Samsung',
 ' Nokia',
 ' Redmi',
 ' Redmi',
 ' Samsung',
 ' Redmi',
 ' Tecno',
 ' Redmi',
 ' Nokia',
 ' Realme',
 ' Oppo',
 ' Samsung',
 ' Redmi',
 ' Realme',
 ' Tecno',
 ' IKALL',
 ' IKALL',
 ' IKALL',
 ' Vivo',
 ' Tecno',
 ' Samsung',
 ' Samsung',
 ' Samsung',
 ' Samsung',
 ' OnePlus',
 ' Samsung',
 ' Redmi',
 ' Samsung',
 ' Vivo',
 ' Oppo',
 ' LG',
 ' OnePlus',
 ' Samsung',
 ' Oppo',
 ' Oppo',
 ' Samsung',
 ' Tecno',
 ' Panasonic',
 ' Panasonic',
 ' OnePlus',
 ' Panasonic',
 ' Realme',
 ' KECHAODA',
 ' KECHAODA']

In [290]:
#fitting the scraped data into DataFrame
import pandas as pd

In [340]:
df=pd.DataFrame()
df['Index']=range(1,len(url)+1)
df['BRAND']=brand
df['MODEL']=product_brand
df['RATING']=rating
df['NUMBER_OF_RATINGS']=n_rat
df['AVAILABLITY']=availablity
df['DELVERY_PERIOD']=delivery
df['DETAILS']=other
df['PRODUCT_URL']=url
df.set_index('Index',inplace=True)
df

,BRAND,MODEL,RATING,NUMBER_OF_RATINGS,AVAILABLITY,DELVERY_PERIOD,DETAILS,PRODUCT_URL
Index,,,,,,,,
1,Samsung,"Samsung Galaxy A12 (White, 6GB RAM, 128GB Stor...",4.2 out of 5 stars,"7,963 ratings",In stock.,"Monday, Sep 27",[48MP+5MP+2MP+2MP Quad Camera-48MP (F2.0) main...,https://www.amazon.in/gp/slredirect/picassoRed...
2,Samsung,"Samsung Galaxy M12 (White,6GB RAM, 128GB Stora...",4.2 out of 5 stars,"7,963 ratings",In stock.,"Sunday, Sep 26",[48MP+5MP+2MP+2MP Quad camera setup- True 48MP...,https://www.amazon.in/gp/slredirect/picassoRed...
3,Redmi,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...",4.2 out of 5 stars,"7,963 ratings",In stock.,"Saturday, Sep 25","[Country Of Origin - India, 13MP rear camera w...",https://www.amazon.in/Redmi-9A-2GB-32GB-Storag...
4,Redmi,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....",4.2 out of 5 stars,"7,963 ratings",In stock.,"Monday, Sep 27","[13+2MP Rear camera with AI Portrait, AI scene...",https://www.amazon.in/Redmi-Sky-Blue-64GB-Stor...
5,Realme,"realme C11 (2021) (Cool Blue, 2GB RAM, 32GB St...",4.2 out of 5 stars,"7,963 ratings",In stock.,"Tuesday, Sep 28","[2 GB RAM 32 GB ROM Expandable Upto 256 GB, 16...",https://www.amazon.in/realme-Storage-Additiona...
...,...,...,...,...,...,...,...,...
65,OnePlus,"OnePlus Nord CE 5G (Blue Void, 8GB RAM, 128GB ...",4.2 out of 5 stars,"7,963 ratings",In stock.,"Saturday, Sep 25",[64MP+8MP+2MP triple rear camera with 1080p vi...,https://www.amazon.in/OnePlus-Nord-Blue-128GB-...
66,Panasonic,"Panasonic Eluga I8 (Black, 3GB RAM, 32GB Storage)",4.2 out of 5 stars,"7,963 ratings",,--,[13MP primary camera and 8MP front facing came...,https://www.amazon.in/Panasonic-Eluga-I8-Black...
67,Realme,"realme narzo 30 (Racing Sliver, 4GB RAM, 64GB ...",4.2 out of 5 stars,"7,963 ratings",In stock.,"Saturday, Sep 25",[4 GB RAM | 64 GB ROM | Expandable Upto 256 GB...,https://www.amazon.in/realme-narzo-Racing-Sliv...
68,KECHAODA,KECHAODA A32 Dual Sim Mobile Phone (Bluetooth ...,4.2 out of 5 stars,"7,963 ratings",In stock.,"Tuesday, Sep 28","[Bluetooth Size Dual Sim Mobile Phone, Can be ...",https://www.amazon.in/gp/slredirect/picassoRed...
69,KECHAODA,"KECHAODA A29 Dual Sim, Gold",4.2 out of 5 stars,"7,963 ratings",In stock.,"Monday, Sep 27","[Bluetooth Size Dual Sim Mobile Phone, Can be ...",https://www.amazon.in/gp/slredirect/picassoRed...

In [68]:
import selenium
from selenium import webdriver
import os

In [69]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [70]:
url="https://images.google.com/"

In [71]:
driver.get(url)

In [72]:
driver.maximize_window()

In [73]:
search_column=driver.find_element_by_xpath("//input[@class='gLFyf gsfi']")

In [74]:
search_column.send_keys("fruits")

In [75]:
search_btn=driver.find_element_by_xpath("//span[@class='z1asCe MZy1Rb']")
search_btn.click()

In [20]:
#extracting images

In [90]:
img_url=[]
while(len(img_url)<=100):
    
    img_url=driver.find_elements_by_xpath("//div[@class='bRMDJf islir']/img")
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight)")
len(img_url)

300

In [92]:
img=[]
for i in img_url:
    img.append(i.get_attribute('src'))
len(img)

300

In [78]:
!pip install wget

Requirement already satisfied: wget in c:\users\hp\anaconda3\lib\site-packages (3.2)

In [79]:
#saving images to computer
import os
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import wget
path=os.getcwd()
path=os.path.join(path,"fruits")
path

'C:\\Users\\HP\\fruits'

In [84]:
#os.mkdir(path)
#counter=0
#for i in img:
         
    #save_as=os.path.join(path,'.jpg')
    #os.mkdir(path)
    #wget.download(i,save_as)
    #counter=+1

In [93]:
# question-3 incomplete

Question-4

In [177]:
import selenium
from selenium import webdriver

In [178]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [179]:
url="http://www.flipkart.com/"
driver.get(url)

In [180]:
#logging in

In [181]:
email_col=driver.find_element_by_xpath("//input[@class='_2IX_2- VJZDxU']")

In [182]:
email_col.send_keys("9625708656")

In [183]:
pass_col=driver.find_element_by_xpath("//input[@type='password']")
pass_col.send_keys("amother0")

In [184]:
login_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2HKlqd _3AWRsL']")
login_btn.click()

In [185]:
driver.maximize_window()

In [186]:
#searching for smartphones
search_btn=driver.find_element_by_xpath("//input[@class='_3704LK']")

In [187]:
search_btn.send_keys("oppo")

In [188]:
search_click=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_click.click()

In [189]:
#scraping product_urls
url=driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
url

[<selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="9226323a-15e3-4bfd-92b0-27d91fa23ed5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="8d3afa2a-3e6c-452c-853f-1b19770daa0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="bb23baf9-683a-4ba6-acb6-623a79f29feb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="ddc22dd7-2718-49a1-ab9a-23ea808ed501")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="851c4400-eca7-4214-b09c-a1b2fbf29a15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="4843c658-2f07-4d60-b2a2-ee301b3124b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="5f11775f-0e78-479f-bb60-723535fe4eec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="0b6735db-7020-4bf5-b3e3-e2f388acec40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="adca34bd-e506-4f7d-b4cc-3d6e7d882eaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="1c641371-f225-491d-9213-83bc7318c800")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="71b0b3bf-b217-4abc-b9e0-933228c3fecd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="e3f8655c-af15-4ad6-be58-4a5adbf7a6a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="e865cac3-b654-4869-a471-985158e69129")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="531febad-82f8-462d-b9df-77399485da4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="eadf40a8-c4a6-4816-a93c-978d87a76816")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="37818d51-cdbe-4aab-9564-3cfb47e28f24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="3962cc8d-3ba3-4800-8895-13810c7d3213")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="0a92101c-6584-4f32-a038-8f7318a8134c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="d08bf592-37cd-4bd3-acda-d478ffee6622")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="ea6ec6dd-6a47-4d93-a12d-e39bf9f01761")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="234ef033-a207-4ab2-84e1-b4f62dd071ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="b0fb70a6-c88c-48d7-a6b4-af516cdb7ff5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="0f6080dd-6def-40f4-b048-e357c16a1ca8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e772fea69bd21ec992c3a78d858a14f7", element="2311b3d2-3c0f-478b-9f5a-71a74dedb006")>]

In [190]:
urls=[]
for i in url:
    urls.append(i.get_attribute('href'))
len(urls)

24

In [191]:
#for scraping lists
def scrape_list(xpath):
    
    list=[]
    element=driver.find_elements_by_xpath(xpath)
    #this command will keep scrolling down until the last element by the xpath is located
   # driver.execute_script("arguments[0].scrollIntoView();",element[(len(element))-1])
    for i in element:
        list.append(i.text)
        
    return list

In [192]:
def scrape_item(xpath):
    element=driver.find_element_by_xpath(xpath)
    return element.text

In [193]:
def click_button(xpath):
    element=driver.find_element_by_xpath(xpath)
    
    element.click()
    return element

In [194]:
def scrape_text(web_el):
    return web_el.text

In [195]:
def scrape_element_list1():
     el1=scrape_list("//td[@class='_1hKmbr col col-3-12']")
     
     return el1

In [196]:
def scrape_element_list2():
     
     el2=scrape_list("//li[@class='_21lJbe']")
     return el2

DEFINING FUNCTIONS TO SCRAPE DATA

In [197]:
def scrape_colour(el1,el2):
    text2=""
   
    for i in range(0,len(el1)):
        text1=(el1[i])
        if(text1=="Color"):
            text2=(el2[i])
    if (text2==''):
        text2="--"
    return text2

In [198]:
def scrape_model(el1,el2):
    
    
    
     text2=""
     for i in range(0,len(el1)):
        text1=(el1[i])
        if(text1=="Model Name"):
            text2=(el2[i])
     if (text2==''):
        
        text2="--"
        
     return text2

In [199]:
def scrape_display(el1,el2):
    text2=""
    
    for i in range(0,len(el1)):
        text1=(el1[i])
        if(text1=="Display Size"):
            text2=(el2[i])
    if (text2==''):
        
        
        text2="--"
        
    
    
    return text2

In [200]:
def scrape_res(el1,el2):
    text2=""
    for i in range(0,len(el1)):
        text1=(el1[i])
        if(text1=="Resolution"):
            text2=(el2[i])
    if (text2==''):
        text2="--"
    return text2

In [201]:
def scrape_processor_type(el1,el2):
    text2=""
    for i in range(0,len(el1)):
        text1=(el1[i])
        if(text1=="Processor Type"):
            text2=(el2[i])
    if (text2==''):
        text2="--"
    return text2

In [202]:
def scrape_processor_core(el1,el2):
    text2="--"
    for i in range(0,len(el1)):
        text1=(el1[i])
        if(text1=="Processor Core"):
            text2=(el2[i])
    return text2

In [203]:
def scrape_rom(el1,el2):
    text2=""
    for i in range(0,len(el1)):
        
        text1=(el1[i])
        if(text1=="Internal Storage"):
            
            text2=(el2[i])
    if (text2==''):
        text2="--"
    return text2

In [204]:
def scrape_ram(el1,el2):
    text2=""
    for i in range(0,len(el1)):
        text1=(el1[i])
        if(text1=="RAM"):
            text2=(el2[i])
    if (text2==''):
        text2="--"
    
    return text2

In [205]:
def scrape_prim_cam(el1,el2):
    text2=""
    for i in range(0,len(el1)):
        text1=(el1[i])
        if(text1=="Primary Camera"):
            text2=(el2[i])
    if (text2==''):
        text2="--"
            
    return text2

In [206]:
def scrape_sec_cam(el1,el2):
    text2=""
    for i in range(0,len(el1)):
        
        text1=(el1[i])
        if(text1=="Secondary Camera"):
            text2=(el2[i])
    if (text2==''):
        
        text2="--"
            
    return text2

In [207]:
def scrape_battery(el1,el2):
    text2=""
    
    for i in range(0,len(el1)):
        
        text1=(el1[i])
        if(text1=="Battery Capacity"):
            
            text2=(el2[i])
    if (text2==''):
        text2="--"
    
    return text2

In [208]:
def scrape_price(xpath):
    el=scrape_item(xpath)
    #txt=scrape_text(el)
    return el

In [209]:
def scrape_brand(xpath):
    web_el=scrape_item(xpath)
    
    return web_el

In [210]:
import time

In [211]:
brand=[]
brand_phone=[]
phone_name=[]
colour=[]
ram=[]
storage=[]
p_camera=[]
s_camera=[]
dis_size=[]
resolution=[]
processor=[]
proc_core=[]
battery=[]
price=[]
for i in urls:
    driver.get(i)
    time.sleep(3)
    brand_phone.append(scrape_item("//span[@class='B_NuCI']"))
    price.append(scrape_item("//div[@class='_30jeq3 _16Jk6d']"))
    clk= click_button("//button[@class='_2KpZ6l _1FH0tX']")
    element1=scrape_element_list1()
    element2=scrape_element_list2()
    
    time.sleep(2)
    phone_name.append(scrape_model(element1,element2))
    colour.append(scrape_colour(element1,element2))
    ram.append(scrape_ram(element1,element2))
    storage.append(scrape_rom(element1,element2))
    p_camera.append(scrape_prim_cam(element1,element2))
    s_camera.append(scrape_sec_cam(element1,element2))
    dis_size.append(scrape_display(element1,element2))
    resolution.append(scrape_res(element1,element2))
    processor.append(scrape_processor_type(element1,element2))
    battery.append(scrape_battery(element1,element2))
    proc_core.append(scrape_processor_core(element1,element2))
    
len(brand_phone)

24

In [212]:
scraped_items_length=[len(brand_phone),len(phone_name),len(colour),len(ram),len(storage),len(p_camera),len(s_camera),len(dis_size),len(resolution),len(processor),len(battery),len(proc_core),len(price),len(urls)]
scraped_items_length

[24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24]

In [213]:
#filtering brand name from product_title
brand=[]
char=""
for i in brand_phone:
    char=""
    for j in range(0,len(i)):
        if(i[j]!=' '):
            char=char+i[j]
        else:
            break
    brand.append(char)
brand

['OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO',
 'OPPO']

In [219]:
#fitting the scraped data into DataFrame
import pandas as pd
df=pd.DataFrame()
df['INDEX']=range(1,len(urls)+1)
df['BRAND']=brand
df['MODEL']=phone_name
df['PROCESSOR']=processor
df['PROCESSOR_CORE']=proc_core
df['PRICE']=price
df['COLOUR']=colour
df['STORAGE']=storage
df['RAM']=ram
df['PRIMARY_CAMERA']=p_camera
df['SECONDARY_CAMERA']=s_camera
df['DISPLAY']=dis_size
df['RESOLUTION']=resolution
df['BATTERY']=battery
df['PRODUCT_URL']=urls
df.set_index('INDEX',inplace=True)
df

,BRAND,MODEL,PROCESSOR,PROCESSOR_CORE,PRICE,COLOUR,STORAGE,RAM,PRIMARY_CAMERA,SECONDARY_CAMERA,DISPLAY,RESOLUTION,BATTERY,PRODUCT_URL
INDEX,,,,,,,,,,,,,,
1,OPPO,A53,Qualcomm Snapdragon 460,Octa Core,"₹11,990",Moonlight Black,64 GB,4 GB,13MP + 2MP + 2MP,16MP Front Camera,16.51 cm (6.5 inch),1600 x 720 Pixels,5000 mAh,https://www.flipkart.com/oppo-a53-moonlight-bl...
2,OPPO,A12,MediaTek Helio P35,Octa Core,"₹10,490",Deep Blue,64 GB,4 GB,13MP + 2MP,5MP Front Camera,15.8 cm (6.22 inch),1520 x 720 Pixels,4230 mAh,https://www.flipkart.com/oppo-a12-deep-blue-64...
3,OPPO,A12,MediaTek Helio P35,Octa Core,"₹9,490",Deep Blue,32 GB,3 GB,13MP + 2MP,5MP Front Camera,15.8 cm (6.22 inch),1520 x 720 Pixels,4230 mAh,https://www.flipkart.com/oppo-a12-deep-blue-32...
4,OPPO,A12,MediaTek Helio P35,Octa Core,"₹9,490",Blue,32 GB,3 GB,13MP + 2MP,5MP Front Camera,15.8 cm (6.22 inch),1520 x 720 Pixels,4230 mAh,https://www.flipkart.com/oppo-a12-blue-32-gb/p...
5,OPPO,A12,MediaTek Helio P35,Octa Core,"₹10,490",Flowing Silver,64 GB,4 GB,13MP + 2MP,5MP Front Camera,15.8 cm (6.22 inch),1520 x 720 Pixels,4230 mAh,https://www.flipkart.com/oppo-a12-flowing-silv...
6,OPPO,A12,MediaTek Helio P35,Octa Core,"₹9,490",Flowing Silver,32 GB,3 GB,13MP + 2MP,5MP Front Camera,15.8 cm (6.22 inch),1520 x 720 Pixels,4230 mAh,https://www.flipkart.com/oppo-a12-flowing-silv...
7,OPPO,A53,Qualcomm Snapdragon 460,Octa Core,"₹12,799",Mint Cream,64 GB,4 GB,13MP + 2MP + 2MP,16MP Front Camera,16.51 cm (6.5 inch),1600 x 720 Pixels,5000 mAh,https://www.flipkart.com/oppo-a53-mint-cream-6...
8,OPPO,A53,Qualcomm Snapdragon 460,Octa Core,"₹13,990",Moonlight Black,128 GB,6 GB,13MP + 2MP + 2MP,16MP Front Camera,16.51 cm (6.5 inch),1600 x 720 Pixels,5000 mAh,https://www.flipkart.com/oppo-a53-moonlight-bl...
9,OPPO,A53,Qualcomm Snapdragon 460,Octa Core,"₹13,990",Mint Cream,128 GB,6 GB,13MP + 2MP + 2MP,16MP Front Camera,16.51 cm (6.5 inch),1600 x 720 Pixels,5000 mAh,https://www.flipkart.com/oppo-a53-mint-cream-1...
10,OPPO,A53,Qualcomm Snapdragon 460,Octa Core,"₹13,989",Electric Black,64 GB,4 GB,13MP + 2MP + 2MP,16MP Front Camera,16.51 cm (6.5 inch),1600 x 720 Pixels,5000 mAh,https://www.flipkart.com/oppo-a53-electric-bla...
11,OPPO,A53s 5G,MediaTek Dimensity 700,Octa Core,"₹15,990",Ink Black,128 GB,6 GB,13MP + 2MP + 2MP,8MP Front Camera,16.56 cm (6.52 inch),1600 x 720 Pixels,5000 mAh,https://www.flipkart.com/oppo-a53s-5g-ink-blac...
12,OPPO,A53s 5G,MediaTek Dimensity 700,Octa Core,"₹15,990",Crystal Blue,128 GB,6 GB,13MP + 2MP + 2MP,8MP Front Camera,16.56 cm (6.52 inch),1600 x 720 Pixels,5000 mAh,https://www.flipkart.com/oppo-a53s-5g-crystal-...
13,OPPO,A33,Qualcomm Snapdragon 460,Octa Core,"₹10,490",Moonlight Black,32 GB,3 GB,13MP + 2MP + 2MP,8MP Front Camera,16.51 cm (6.5 inch),1600 x 720 Pixels,5000 mAh,https://www.flipkart.com/oppo-a33-moonlight-bl...
14,OPPO,A53s 5G,MediaTek Dimensity 700,Octa Core,"₹17,990",Crystal Blue,128 GB,8 GB,13MP + 2MP + 2MP,8MP Front Camera,16.56 cm (6.52 inch),1600 x 720 Pixels,5000 mAh,https://www.flipkart.com/oppo-a53s-5g-crystal-...
15,OPPO,A53s 5G,MediaTek Dimensity 700,Octa Core,"₹17,990",Ink Black,128 GB,8 GB,13MP + 2MP + 2MP,8MP Front Camera,16.56 cm (6.52 inch),1600 x 720 Pixels,5000 mAh,https://www.flipkart.com/oppo-a53s-5g-ink-blac...
16,OPPO,F17 Pro,MediaTek Helio P95,Octa Core,"₹19,990",Matte Black,128 GB,8 GB,48MP + 8MP + 2MP + 2MP,16MP + 2MP Dual Front Camera,16.33 cm (6.43 inch),2400 x 1080 Pixels,4015 mAh,https://www.flipkart.com/oppo-f17-pro-matte-bl...
17,OPPO,A31,MediaTek Helio P35 Octa Core,Octa Core,"₹11,650",Mystery Black,64 GB,4 GB,12MP + 2MP + 2MP,8MP Front Camera,16.51 cm (6.5 inch),1600 x 720 Pixels,4230 mAh,https://www.flipkart.com/oppo-a31-mystery-blac...
18,OPPO,A53,Qualcomm Snapdragon 460,Octa Core,"₹15,999",Electric Black,128 GB,6 GB,13MP + 2MP + 2MP,16MP Front Camera,16.51 cm (6.5 inch),1600 x 720 Pixels,5000 mAh,https://www.flipkart.com/oppo-a53-electric-bla...
19,OPPO,A53,Qualcomm Snapdragon 460,Octa Core,"₹15,999",Fairy White,128 GB,6 GB,13MP + 2MP + 2MP,16MP Front Camera,16.51 cm (6.5 inch),1600 x 720 Pixels,5000 mAh,https://www.flipkart.com/oppo-a53-fairy-white-...
20,OPPO,F17 Pro,MediaTek Helio P95,Octa Core,"₹19,990",Magic Blue,128 GB,8 GB,48MP + 8MP + 2MP + 2MP,16MP + 2MP Dual Front Camera,16.33 cm (6.43 inch),2400 x 1080 Pixels,4015 mAh,https://www.flipkart.com/oppo-f17-pro-magic-bl...
21,OPPO,F17 Pro,MediaTek Helio P95,Octa Core,"₹19,990",Metallic White,128 GB,8 GB,48MP + 8MP + 2MP + 2MP,16MP + 2MP Dual Front Camera,16.33 cm (6.43 inch),2400 x 1080 Pixels,4015 mAh,https://www.flipkart.com/oppo-f17-pro-metallic...
22,OPPO,A31,MediaTek Helio P35 Octa Core,Octa Core,"₹11,990",Lake Green,64 GB,4 GB,12MP + 2MP + 2MP,8MP Front Camera,16.51 cm (6.5 inch),1600 x 720 Pixels,4230 mAh,https://www.flipkart.com/oppo-a31-lake-green-6...
23,OPPO,A54,MediaTek Helio P35,Octa Core,"₹14,990",Moonlight Gold,64 GB,4 GB,13MP + 2MP + 2MP,16MP Front Camera,16.54 cm (6.51 inch),1600 x 720 Pixels,5000 mAh,https://www.flipkart.com/oppo-a54-moonlight-go...
24,OPPO,A74 5G,--,Octa Core,"₹18,850",Fantastic Purple,128 GB,6 GB,48MP + 48MP + 2MP,8MP Front Camera,16.48 cm (6.49 inch),2400*1080$$pixels,5000 mAh,https://www.flipkart.com/oppo-a74-5g-fantastic...

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 1 to 24
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   BRAND             24 non-null     object
 1   MODEL             24 non-null     object
 2   PROCESSOR         24 non-null     object
 3   PROCESSOR_CORE    24 non-null     object
 4   PRICE             24 non-null     object
 5   COLOUR            24 non-null     object
 6   STORAGE           24 non-null     object
 7   RAM               24 non-null     object
 8   PRIMARY_CAMERA    24 non-null     object
 9   SECONDARY_CAMERA  24 non-null     object
 10  DISPLAY           24 non-null     object
 11  RESOLUTION        24 non-null     object
 12  BATTERY           24 non-null     object
 13  PRODUCT_URL       24 non-null     object
dtypes: object(14)
memory usage: 2.8+ KB

QUESTION-5

Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on
google maps.

In [34]:
import selenium
from selenium import webdriver

In [35]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [36]:
url='https://www.google.com/maps'
driver.get(url)

In [37]:
search_column=driver.find_element_by_xpath("//input[@class='tactile-searchbox-input']")
print("Enter the name of the city or a place you want to search")
key=input()

Enter the name of the city or a place you want to search
Kokomojo, Boring Road, Shivpuri, Rajbansi Nagar, Patna, Bihar

In [38]:
search_column.send_keys(key)

In [39]:
search_btn=driver.find_element_by_xpath("//button[@class='searchbox-searchbutton']")
search_btn.click()

In [40]:
driver.maximize_window()

In [41]:
url=driver.current_url
url

'https://www.google.com/maps/place/KOKOMOJO/@25.6179529,85.1097887,17z/data=!4m5!3m4!1s0x39ed593b3ad92f95:0x405e9505c92836fa!8m2!3d25.6179529!4d85.1119774'

In [42]:
#The url contains the co-ordinates of every city that is searched on google maps,hence scraping co-ordinates from the url itself
co_ordinates=""
length=len(url)
for i in range(0,length):
    
    if(url[i]=='!')& (url[i+2]=='d'):
        co_ordinates=url[i:]
        break
x=co_ordinates.split('!')
x

['', '3d25.6179529', '4d85.1119774']

In [43]:
#filtering the latitude and longitudes from the url text
list=[]
lat_long=""
for i in x:
    for j in i:
        lat_long=lat_long+j
        if (j=='d'):
            lat_long=""
    if(lat_long!=""):
        list.append(lat_long)
list

['25.6179529', '85.1119774']

In [44]:
latitude=list[0]
longitude=list[1]
if(latitude[0].find('-')==-1):
    latitude=latitude+'North'
else:
    latitude=latitude[1:]+'South'
if(longitude[0].find('-')==-1):
    longitude=longitude+'East'
else:
    longitude=longitude[1:]+'West'
print("The Latitude and Longitude for",key,"are",latitude,"and",longitude)

The Latitude and Longitude for Kokomojo, Boring Road, Shivpuri, Rajbansi Nagar, Patna, Bihar are 25.6179529North and 85.1119774East

QUESTION-6
Write a program to scrap details of all the funding deals for second quarter (i.e. July 20 –
September 20) from trak.in.

In [104]:
import selenium
from selenium import webdriver

In [105]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [106]:
url="https://trak.in/"
driver.get(url)

In [107]:
driver.maximize_window()

In [108]:
funding_deals=driver.find_element_by_xpath("//li[@class='menu-have-icon menu-icon-type-fontawesome menu-item menu-item-type-post_type menu-item-object-page better-anim-fade menu-item-51510']")
funding_deals.click()

In [109]:
def get_columns():
    xpath=[]
    list=['1','2','3','4','5','6','7','8','9']
    for i in list:
        
        xpath1="//th[@class='column-"
        xpath2=" sorting']"
        xpath_=xpath1+i+xpath2
        xpath_el=driver.find_element_by_xpath(xpath_)
        xpath.append(xpath_el)
        
    return xpath

In [110]:
#scraping web elements of july-september(2020)quarter
web_el=get_columns()
len(web_el)

9

In [111]:
columns=[]
for i in web_el:
    columns.append(i.text)
columns

['Sr. No.',
 'Date (dd/mm/yyyy)',
 'Startup Name',
 'Industry / Vertical',
 'Sub-Vertical',
 'City / Location',
 "Investors' Name",
 'Investment Type',
 'Amount (In USD)']

In [112]:
#scraping column data
def scrape_data(xpath):
    data=[]
    data_el=driver.find_elements_by_xpath(xpath)
    for i in data_el[56:86]:
        data.append(i.text)
    return data

In [113]:
def get_xpath(xpath1):
    
    xpath=[]
    list=['1','2','3','4','5','6','7','8','9']
    for i in list:
        p="']"
        xpath.append(xpath1+i+p)
    return xpath

In [114]:
#fetching columnwise data
xpath=get_xpath("//td[@class='column-")
xpath

["//td[@class='column-1']",
 "//td[@class='column-2']",
 "//td[@class='column-3']",
 "//td[@class='column-4']",
 "//td[@class='column-5']",
 "//td[@class='column-6']",
 "//td[@class='column-7']",
 "//td[@class='column-8']",
 "//td[@class='column-9']"]

In [115]:
column=[]
for i in xpath:
    column.extend(scrape_data(i))
len(column)

270

In [116]:
column1=[]
column2=[]
column3=[]
column4=[]
column5=[]
column6=[]
column7=[]
column8=[]
column9=[]
iteration=0
for i in range(0,len(column),30):
    iteration=iteration+1
    for j in range(i,i+30):
        if (iteration==1):
            column1.append(column[j])
        if(iteration==2):
            column2.append(column[j])
        if(iteration==3):
            column3.append(column[j])
        
        if(iteration==4):
            column4.append(column[j])
        if(iteration==5):
            column5.append(column[j])
        if(iteration==6):
            column6.append(column[j])
        if(iteration==7):
            column7.append(column[j])
        if(iteration==8):
            column8.append(column[j])
        if(iteration==9):
            column9.append(column[j])
len(column9)

30

In [117]:
dict={columns[0]:column1,columns[1]:column2,columns[2]:column3,columns[3]:column4,columns[4]:column5,columns[5]:column6,columns[6]:column7,columns[7]:column8,columns[8]:column9}

In [118]:
columns

['Sr. No.',
 'Date (dd/mm/yyyy)',
 'Startup Name',
 'Industry / Vertical',
 'Sub-Vertical',
 'City / Location',
 "Investors' Name",
 'Investment Type',
 'Amount (In USD)']

In [119]:
#fitting the data into dataframe
import pandas as pd
df=pd.DataFrame(data=dict)

df['Index']=range(1,31)
df.set_index('Index',inplace=True)
df

,Sr. No.,Date (dd/mm/yyyy),Startup Name,Industry / Vertical,Sub-Vertical,City / Location,Investors' Name,Investment Type,Amount (In USD)
Index,,,,,,,,,
1,2,12/09/2020,mCaffeine,Personal Care,Skincare & Haircare,Mumbai,"Amicus Capital Private Equity I LLP, Amicus Ca...",Series B,"3,000,000"
2,3,09/09/2020,Qshala,EduTech,Online Curiosity Platform for Kids,Bangalore,Rainmatter Capital,Angel,"370,000"
3,4,02/09/2020,Winzo,Online Gaming,Online Gaming,New Delhi,"Kalaari Capital Partners, IndigoEdge Managemen...",Series B,"15,500,000"
4,5,09/09/2020,Hippo Video,Video Customer Experience(CX) Platform,Video Customer Experience(CX) Platform,"Newark, Delaware, United States of Amercia","Alpha Wave Incubation, Exfinity Venture Partne...",Series A,"4,500,000"
5,6,07/09/2020,Melorra,E-commerce,Online Jewelry Store,Bangalore,"Shadow Holdings, Lightbox.",Debt Financing,"upto 8,900,000"
6,7,07/09/2020,1mg,E-commerce,Online Pharmacy,Gurgaon,"Gaja Capital, Tata Capital, Partners Group",In Progress,"100,000,000"
7,8,31/08/2020,mfine,HealthTech,On-Demand Healthcare Services,Bangalore,Caretech Pte Inc,Series B,"5,400,000"
8,9,31/08/2020,Apna,Human Resources,Recruitment Platform,Bangalore,Lightspeed India and Sequoia Capital India,Series A,"8,000,000"
9,10,03/09/2020,Railofy,Transportation,WL & RAC protection platform,Mumbai,Chiratae Ventures,Seed,"950,000"
10,1,15/08/2020,Practo,HealthTech,Health care and Wellness,Bangalore,A1A Company,Series F,"32,000,000"
11,2,13/08/2020,Medlife,E-commerce,Online Pharmacy,Bangalore,Prasid Uno Family Trust and SC Credit Fund,,"23,000,000"
12,3,13/08/2020,HungerBox,FoodTech,Online Food Delivery Service,Bangalore,"One97, Sabre Partners Trust, Pratithi Investme...",Series D1,"1,560,000"
13,4,04/08/2020,Dunzo,Hyper-local Logistics,Online Delivery Services,Bangalore,Existing Backers,In Progress,"30,000,000"
14,5,11/08/2020,Terra.do,EduTech,"Online Climate School, E-learning","Stanford, California,","Stanford Angels and Entrepreneurs (India), BEE...",Seed,"1,400,000"
15,6,12/08/2020,Classplus,EduTech,"E-learning, Online Tutoring",Noida,Falcon Edge,In Progress,"upto 15,000,000"
16,7,14/08/2020,Niyo,FinTech,Financial Services,Bangalore,Niyo Solutions Inc.,,"6,000,000"
17,8,10/08/2020,ZestMoney,FinTech,Financial Services,Bangalore,Primrose Hills Ventures,,"10,670,000"
18,9,07/08/2020,FreshToHome,E-commerce,Food Delivery,Bangalore,Ascent Capital,Venture,"16,200,000"
19,10,13/08/2020,Eduvanz,FinTech,Financial Services,Mumbai,"Sequoia India, Unitus",Series A,"5,000,000"
20,1,15/07/2020,Flipkart,E-commerce,E-commerce,Bangalore,Walmart Inc,M&A,"1,200,000,000"
21,2,16/07/2020,Vedantu,EduTech,Online Tutoring,Bangalore,Coatue Management,Series D,"100,000,000"
22,3,16/07/2020,Crio,EduTech,Learning Platform for Developers,Bangalore,021 Capital,pre-Series A,"934,160"
23,4,14/07/2020,goDutch,FinTech,Group Payments,Mumbai,"Matrix India,Y Combinator, Global Founders Cap...",Seed,"1,700,000"
24,5,13/07/2020,Mystifly,Airfare Marketplace,"Ticketing, Airline Retailing, and Post-Ticketi...",Singapore and Bangalore,Recruit Co. Ltd.,pre-Series B,"3,300,000"
25,6,09/07/2020,JetSynthesys,Gaming and Entertainment,Gaming and Entertainment,Pune,Adar Poonawalla and Kris Gopalakrishnan.,Venture-Series Unknown,"400,000"
26,7,10/07/2020,gigIndia,Marketplace,"Crowd Sourcing, Freelance",Pune,Incubate Fund India and Beyond Next Ventures,pre-Series A,"974,200"
27,8,15/07/2020,PumPumPum,Automotive Rental,Used Car-leasing platform,Gurgaon,Early Adapters Syndicate,Seed,"292,800"
28,9,14/07/2020,FLYX,OTT Player,Streaming Social Network,New York and Delhi,"Raj Mishra, founder of AIT Global Inc",pre-Seed,"200,000"
29,10,13/07/2020,Open Appliances Pvt. Ltd.,Information Technology,Internet-of-Things Security Solutions,Bangalore,Unicorn India Ventures,Venture-Series Unknown,"500,000"
30,1,18/06/2020,Drishti Technologies,Technology,"Artificial Intelligence, Video Analytics",Mumbai,Sozo Ventures,Series B,"25,000,000"

In [120]:
import datetime

In [121]:
df['Date (dd/mm/yyyy)']=pd.to_datetime(df['Date (dd/mm/yyyy)'])

In [122]:

df.dtypes

Sr. No.                        object
Date (dd/mm/yyyy)      datetime64[ns]
Startup Name                   object
Industry / Vertical            object
Sub-Vertical                   object
City / Location                object
Investors' Name                object
Investment Type                object
Amount (In USD)                object
dtype: object

In [123]:
df.head()

,Sr. No.,Date (dd/mm/yyyy),Startup Name,Industry / Vertical,Sub-Vertical,City / Location,Investors' Name,Investment Type,Amount (In USD)
Index,,,,,,,,,
1,2,2020-12-09,mCaffeine,Personal Care,Skincare & Haircare,Mumbai,"Amicus Capital Private Equity I LLP, Amicus Ca...",Series B,"3,000,000"
2,3,2020-09-09,Qshala,EduTech,Online Curiosity Platform for Kids,Bangalore,Rainmatter Capital,Angel,"370,000"
3,4,2020-02-09,Winzo,Online Gaming,Online Gaming,New Delhi,"Kalaari Capital Partners, IndigoEdge Managemen...",Series B,"15,500,000"
4,5,2020-09-09,Hippo Video,Video Customer Experience(CX) Platform,Video Customer Experience(CX) Platform,"Newark, Delaware, United States of Amercia","Alpha Wave Incubation, Exfinity Venture Partne...",Series A,"4,500,000"
5,6,2020-07-09,Melorra,E-commerce,Online Jewelry Store,Bangalore,"Shadow Holdings, Lightbox.",Debt Financing,"upto 8,900,000"

In [124]:
from datetime import datetime

start_=datetime(2020,7,20)
end_=datetime(2020,9,20)

In [125]:
df3=pd.DataFrame()
df3['Date (dd/mm/yyyy)']=start_,end_
#df2['Date (dd/mm/yyyy)']=pd.to_datetime(df2['Date (dd/mm/yyyy)'])
df3['Date (dd/mm/yyyy)']

0   2020-07-20
1   2020-09-20
Name: Date (dd/mm/yyyy), dtype: datetime64[ns]

In [126]:
def get_index(df,elements):
    dff=pd.DataFrame()
    col=len(df.columns)
    row=len(df)
    for i in range(0,row):
        for j in range(0,len(elements)):
            if(df['Date (dd/mm/yyyy)'][i]==elements[j]):
                
                print(df.drop(i))

In [127]:
from datetime import datetime

start_=datetime(2020,7,20)
end_=datetime(2020,9,20)
quarter=[]
indx=df['Date (dd/mm/yyyy)']
count=0
loc=[]
for i in df['Date (dd/mm/yyyy)']:
    count=count+1
    
    if(i<df3['Date (dd/mm/yyyy)'][0])or(i>df3['Date (dd/mm/yyyy)'][1]):
        #p=df.drop(i,axis=0)
        
        loc.append(count)
        quarter.append(i)
quarter

[Timestamp('2020-12-09 00:00:00'),
 Timestamp('2020-02-09 00:00:00'),
 Timestamp('2020-07-09 00:00:00'),
 Timestamp('2020-07-09 00:00:00'),
 Timestamp('2020-03-09 00:00:00'),
 Timestamp('2020-04-08 00:00:00'),
 Timestamp('2020-11-08 00:00:00'),
 Timestamp('2020-12-08 00:00:00'),
 Timestamp('2020-10-08 00:00:00'),
 Timestamp('2020-07-08 00:00:00'),
 Timestamp('2020-07-15 00:00:00'),
 Timestamp('2020-07-16 00:00:00'),
 Timestamp('2020-07-16 00:00:00'),
 Timestamp('2020-07-14 00:00:00'),
 Timestamp('2020-07-13 00:00:00'),
 Timestamp('2020-10-07 00:00:00'),
 Timestamp('2020-07-15 00:00:00'),
 Timestamp('2020-07-14 00:00:00'),
 Timestamp('2020-07-13 00:00:00'),
 Timestamp('2020-06-18 00:00:00')]

In [128]:
loc

[1, 3, 5, 6, 9, 13, 14, 15, 17, 18, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30]

THE DATA FOR (JULY-20)-(SEPTEMBER-20)QUARTER

In [129]:
df=df.drop(loc,axis=0)
df.head()

,Sr. No.,Date (dd/mm/yyyy),Startup Name,Industry / Vertical,Sub-Vertical,City / Location,Investors' Name,Investment Type,Amount (In USD)
Index,,,,,,,,,
2,3,2020-09-09,Qshala,EduTech,Online Curiosity Platform for Kids,Bangalore,Rainmatter Capital,Angel,"370,000"
4,5,2020-09-09,Hippo Video,Video Customer Experience(CX) Platform,Video Customer Experience(CX) Platform,"Newark, Delaware, United States of Amercia","Alpha Wave Incubation, Exfinity Venture Partne...",Series A,"4,500,000"
7,8,2020-08-31,mfine,HealthTech,On-Demand Healthcare Services,Bangalore,Caretech Pte Inc,Series B,"5,400,000"
8,9,2020-08-31,Apna,Human Resources,Recruitment Platform,Bangalore,Lightspeed India and Sequoia Capital India,Series A,"8,000,000"
10,1,2020-08-15,Practo,HealthTech,Health care and Wellness,Bangalore,A1A Company,Series F,"32,000,000"

QUESTION-7

In [1]:
import selenium
from selenium import webdriver

In [2]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [3]:
url='https://www.digit.in/'
driver.get(url)

In [4]:
driver.maximize_window()

In [5]:
laptop=driver.find_element_by_xpath("//*[text()='Best Gaming Laptops in India']")
laptop.click()

In [6]:
name_el=driver.find_elements_by_xpath("//a/h3")

In [7]:
def scrape_text(web_el):
    
    web=[]
    for i in web_el:
        
        web.append(i.text)
    return web

In [8]:
os_el=driver.find_elements_by_xpath("//*[contains(text(),'Windows')]")

In [38]:
name=[]
name.extend(scrape_text(name_el))
len(name)

7

In [10]:
os1=[]
os1.extend(scrape_text(os_el[:14]))
os1

['WINDOWS 10 HOME',
 'Windows 10 Home',
 'WINDOWS 10 HOME',
 'Windows 10 Home',
 'WINDOWS 10 HOME',
 'Windows 10 Home',
 'WINDOWS 10 HOME',
 'Windows 10 Home',
 'WINDOWS 10 PRO',
 'Windows 10 Pro',
 'WINDOWS 10',
 'Windows 10',
 'WINDOWS 10 HOME',
 'Windows 10 Home']

In [35]:
#filtering the repeating data
os=[]
length=len(os1)
for i in range(0,length,2):
    os.append(os1[i])
len(os)

7

In [43]:
every_el=driver.find_elements_by_xpath("//tr/td")

In [51]:
every_el_=every_el[22:193]

In [52]:
unfiltered=[]
unfiltered.extend(scrape_text(every_el_))
unfiltered

[':',
 'Windows 10 Home',
 'Display',
 ':',
 '17.3" (1920 x 1080)',
 'Processor',
 ':',
 '10th Generation Intel® Core™ i7-10700 | 2.90 GHz',
 'Memory',
 ':',
 '1 TB SSD/16 GBGB DDR4',
 'Weight',
 ':',
 '4.1',
 'Dimension',
 ':',
 '27.65 x 402.6 x 319.14',
 'Graphics Processor',
 ':',
 'Intel® UHD Graphics 630',
 'OS',
 ':',
 'Windows 10 Home',
 'Display',
 ':',
 '15.6" (3840 x 2160)',
 'Processor',
 ':',
 '10th Generation Intel® Core™ i9-10980HK | NA',
 'Memory',
 ':',
 '1 TB SSD/16 GBGB DDR4',
 'Weight',
 ':',
 'NA',
 'Dimension',
 ':',
 'NA',
 'Graphics Processor',
 ':',
 'NA',
 '',
 'AVAILABLE',
 '₹ 319,990',
 'BUY NOW',
 '',
 'OS',
 ':',
 'Windows 10 Home',
 'Display',
 ':',
 '15.6" (1920 x 1080)',
 'Processor',
 ':',
 'AMD Ryzen™ 9 5900HX | 3.3 GHz',
 'Memory',
 ':',
 '1 TB SSD/16 GBGB DDR4',
 'Weight',
 ':',
 '2.30',
 'Dimension',
 ':',
 '35.4 x 25.9 x 2.26',
 'Graphics Processor',
 ':',
 'NVIDIA® GeForce RTX™ 3070',
 '',
 'AVAILABLE',
 '₹ 215,990',
 'BUY NOW',
 '',
 'OS',
 ':',
 'Windows 10 Home',
 'Display',
 ':',
 '14" (1920 x 1080)',
 'Processor',
 ':',
 'AMD 3rd Generation Ryzen 9 | 3.3 GHz',
 'Memory',
 ':',
 '1 TB SSD/16 GBGB DDR4',
 'Weight',
 ':',
 '1.65',
 'Dimension',
 ':',
 '32.5 x 22.1 x 1.8',
 'Graphics Processor',
 ':',
 'NVIDIA GeForce RTX 2060',
 '',
 'AVAILABLE',
 '₹ 164,990',
 'BUY NOW',
 '',
 'OS',
 ':',
 'Windows 10 Pro',
 'Display',
 ':',
 '15.6" (1920 x 1080)',
 'Processor',
 ':',
 '10th Generation Intel® Core™ i5-10300H | 2.50 GHz',
 'Memory',
 ':',
 '1 TB SSD/16 GBGB DDR4',
 'Weight',
 ':',
 '2.3',
 'Dimension',
 ':',
 '363.06 x 259.61 x 23.57',
 'Graphics Processor',
 ':',
 'NVIDIA® GeForce® GTX 1650 4GB',
 '',
 'AVAILABLE',
 '₹ 76,988',
 'BUY NOW',
 '',
 'OS',
 ':',
 'Windows 10',
 'Display',
 ':',
 '15.6" (3840 x 1100)',
 'Processor',
 ':',
 'Intel Core i7 10th Gen 10875H | NA',
 'Memory',
 ':',
 '512 GB SSD/4 GBGB DDR4',
 'Weight',
 ':',
 '2.4',
 'Dimension',
 ':',
 '268.30 x 360.00 x 20.90',
 'Graphics Processor',
 ':',
 'NVIDIA GeForce RTX 2070 Max-Q',
 '',
 'AVAILABLE',
 '₹ 185,000',
 'BUY NOW',
 '',
 'OS',
 ':',
 'Windows 10 Home',
 'Display',
 ':',
 '15.6" (1920 x 1080)',
 'Processor',
 ':',
 'AMD Ryzen™ 5-5500U hexa-core | NA',
 'Memory',
 ':',
 '512 GB SSD/8 GBGB DDR4',
 'Weight',
 ':',
 '2.15',
 'Dimension',
 ':',
 '2.29 x 36.3 x 25.4',
 'Graphics Processor',
 ':',
 'NVIDIA® GeForce® GTX 1650']

In [53]:

display=[]
processor=[]
memory=[]
weight=[]
dimension=[]
processor=[]
price=[]
g_processor=[]
for i in range(0,len(unfiltered)):
    if(unfiltered[i]=='Display'):
        display.append(unfiltered[i+2])
    if(unfiltered[i]=='Processor'):
        processor.append(unfiltered[i+2])
    if(unfiltered[i]=='Weight'):
        weight.append(unfiltered[i+2])
    if(unfiltered[i]=='Dimension'):
        dimension.append(unfiltered[i+2])
    if(unfiltered[i]=='Memory'):
        memory.append(unfiltered[i+2])
    if(unfiltered[i]=='Price'):
        Price.append(unfiltered[i+2])
    if(unfiltered[i]=='Graphics Processor'):
        g_processor.append(unfiltered[i+2])
len(display)

7

In [54]:
len(g_processor)

7

In [55]:
#scraping price elements
price=[]
price_el=driver.find_elements_by_xpath("//td[@class='smprice']")
price.extend(scrape_text(price_el))
price

['N/A',
 '₹ 319,990',
 '₹ 215,990',
 '₹ 164,990',
 '₹ 76,988',
 '₹ 185,000',
 '₹ 64,370']

In [58]:
#fitting the scraped data into dataframe
import pandas as pd
digit=pd.DataFrame()
digit['INDEX']=range(1,len(name)+1)
digit['MODEL']=name
digit['OS']=os
digit['DISPLAY']=display
digit['PROCESSOR']=processor
digit['MEMORY']=memory
digit['DIMENSION']=dimension
digit['WEIGHT']=weight
digit['GRAPHICS_PROCESSOR']=g_processor
digit['PRICE']=price
digit.set_index('INDEX',inplace=True)
digit

,MODEL,OS,DISPLAY,PROCESSOR,MEMORY,DIMENSION,WEIGHT,GRAPHICS_PROCESSOR,PRICE
INDEX,,,,,,,,,
1,ALIENWARE AREA 51M R2,WINDOWS 10 HOME,"17.3"" (1920 x 1080)",10th Generation Intel® Core™ i7-10700 | 2.90 GHz,1 TB SSD/16 GBGB DDR4,27.65 x 402.6 x 319.14,4.1,Intel® UHD Graphics 630,N/A
2,ALIENWARE M15 R3,WINDOWS 10 HOME,"15.6"" (3840 x 2160)",10th Generation Intel® Core™ i9-10980HK | NA,1 TB SSD/16 GBGB DDR4,NA,NA,NA,"₹ 319,990"
3,ASUS ROG STRIX SCAR 15,WINDOWS 10 HOME,"15.6"" (1920 x 1080)",AMD Ryzen™ 9 5900HX | 3.3 GHz,1 TB SSD/16 GBGB DDR4,35.4 x 25.9 x 2.26,2.30,NVIDIA® GeForce RTX™ 3070,"₹ 215,990"
4,ASUS ROG ZEPHYRUS G14,WINDOWS 10 HOME,"14"" (1920 x 1080)",AMD 3rd Generation Ryzen 9 | 3.3 GHz,1 TB SSD/16 GBGB DDR4,32.5 x 22.1 x 1.8,1.65,NVIDIA GeForce RTX 2060,"₹ 164,990"
5,LENOVO LEGION 5I,WINDOWS 10 PRO,"15.6"" (1920 x 1080)",10th Generation Intel® Core™ i5-10300H | 2.50 GHz,1 TB SSD/16 GBGB DDR4,363.06 x 259.61 x 23.57,2.3,NVIDIA® GeForce® GTX 1650 4GB,"₹ 76,988"
6,ASUS ROG ZEPHYRUS DUO 15,WINDOWS 10,"15.6"" (3840 x 1100)",Intel Core i7 10th Gen 10875H | NA,512 GB SSD/4 GBGB DDR4,268.30 x 360.00 x 20.90,2.4,NVIDIA GeForce RTX 2070 Max-Q,"₹ 185,000"
7,ACER ASPIRE 7 GAMING,WINDOWS 10 HOME,"15.6"" (1920 x 1080)",AMD Ryzen™ 5-5500U hexa-core | NA,512 GB SSD/8 GBGB DDR4,2.29 x 36.3 x 25.4,2.15,NVIDIA® GeForce® GTX 1650,"₹ 64,370"

QUESTION-8

In [59]:
import selenium
from selenium import webdriver

In [60]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [61]:
url='https://www.forbes.com/'
driver.get(url)

In [62]:
driver.maximize_window()

In [63]:
def scrape_text(web_el):
    list=[]
    for i in web_el:
        list.append(i.text)
    return list

In [65]:
billionaries=driver.find_elements_by_xpath("//a[@class='footer__nav-item']")
b_text=scrape_text(billionaries)

In [67]:
for i in range(0,len(b_text)):
    if(b_text[i]=='Billionaires'):
        b_url=(billionaries[i].get_attribute('href'))
b_url

'https://www.forbes.com/worlds-billionaires/'

In [68]:
driver.get(b_url)

In [69]:
b_url2=driver.find_elements_by_xpath("//a[@class='ratio16x9']")
b_url2_=b_url2[0].get_attribute('href')

In [70]:
driver.get(b_url2_)

In [71]:
rank_el=driver.find_elements_by_xpath("//div[@class='rank']")

In [72]:
rank=[]
rank.extend(scrape_text(rank_el))

In [75]:
name=[]
name_el=driver.find_elements_by_xpath("//div[@class='personName']")
name.extend(scrape_text(name_el))

In [76]:
len(name)

200

In [77]:
net_worth=[]
worth=driver.find_elements_by_xpath("//div[@class='netWorth']")
net_worth.extend(scrape_text(worth))
len(net_worth)

200

In [78]:
country=[]
cit=driver.find_elements_by_xpath("//div[@class='countryOfCitizenship']")
country.extend(scrape_text(cit))
len(country)

200

In [83]:
age=[]
age_el=driver.find_elements_by_xpath("//div[@class='age']")
age.extend(scrape_text(age_el))
age[:10]

['57', '49', '72', '65', '36', '90', '76', '48', '47', '63']

In [80]:
source=[]
source_el=driver.find_elements_by_xpath("//div[@class='source-column']")
source.extend(scrape_text(source_el))
len(source)

200

In [82]:
industry=[]
ind_el=driver.find_elements_by_xpath("//div[@class='category']")
industry.extend(scrape_text(ind_el))
len(industry)

200

Fitting the scraped data into DataFrame

In [84]:
import pandas as pd
bill=pd.DataFrame()
bill['RANK']=rank
bill['NAME']=name
bill['NET_WORTH']=net_worth
bill['AGE']=age
bill['CITIZENSHIP']=country
bill['SOURCE']=source
bill['INDUSTRY']=industry
bill.set_index('RANK',inplace=True)
bill

,NAME,NET_WORTH,AGE,CITIZENSHIP,SOURCE,INDUSTRY
RANK,,,,,,
1.,Jeff Bezos,$177 B,57,United States,Amazon,Technology
2.,Elon Musk,$151 B,49,United States,"Tesla, SpaceX",Automotive
3.,Bernard Arnault & family,$150 B,72,France,LVMH,Fashion & Retail
4.,Bill Gates,$124 B,65,United States,Microsoft,Technology
5.,Mark Zuckerberg,$97 B,36,United States,Facebook,Technology
...,...,...,...,...,...,...
195.,Harry Triguboff,$11.2 B,88,Australia,real estate,Real Estate
197.,Leonid Fedun & family,$11.1 B,65,Russia,oil,Energy
197.,Eyal Ofer,$11.1 B,70,Israel,"real estate, shipping",Diversified
197.,Evan Spiegel,$11.1 B,30,United States,Snapchat,Technology
200.,Luis Carlos Sarmiento,$11 B,88,Colombia,banking,Finance & Investments

QUESTION-9

In [146]:
import selenium
from selenium import webdriver

In [197]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [198]:
url='https://www.youtube.com/'
driver.get(url)

In [199]:
driver.maximize_window()

In [200]:
video_el=driver.find_elements_by_xpath("//a[@class='yt-simple-endpoint style-scope ytd-rich-grid-media']")
len(video_el)

64

In [201]:
video_urls=[]
for i in video_el:
    video_urls.append(i.get_attribute('href'))
len(video_urls)

64

In [202]:
urls=[]
for i in range(1,len(video_urls),2):
    urls.append(video_urls[i])
len(urls)

32

In [203]:
print("Enter the video number you want to watch in the range of 0 to: ",len(urls))
num=int(input())

Enter the video number you want to watch in the range of 0 to:  32
0

In [204]:
driver.get(urls[num])

In [205]:
import time

In [206]:
def scrape_500(xpath):
    elements=[]
    while(len(elements)<=500):
        
        driver.execute_script("window.scrollBy(0,500)","")
        time.sleep(3)
        elements=driver.find_elements_by_xpath(xpath)
    return elements

In [207]:
comment_el=scrape_500("//yt-formatted-string[@id='content-text']")
len(comment_el)

520

In [209]:
#since the page was scrolled down,we dont have to scroll it again
vote=[]
vote_el=driver.find_elements_by_xpath("//span[@id='vote-count-middle']")
for i in vote_el:
    vote.append(i.text)
len(vote)

520

In [210]:
time=[]
time_el=driver.find_elements_by_xpath("//yt-formatted-string[@class='published-time-text above-comment style-scope ytd-comment-renderer']")
for i in time_el:
    time.append(i.text)
len(time)

520

In [217]:
comments=[]
for i in comment_el:
    comments.append(i.text)
len(comments)

520

In [219]:
comments[:10]

['It looks best because of true 60 fps',
 'Hatsoff badshah who wearing jacket in desert😂😂',
 'Badshah is the only person who wears jacket in desert 😂🤣😂🤣',
 "Let's pray for those child who don't have his parent those are ledends",
 'Daily I lesson ths song',
 'Beachside Sea Waves - Seashore 4K Ultra HD Dolby Digital:\n\nhttps://youtu.be/bdrWtrui1y8',
 'Gian and Shizuka 🤣🤣🤣',
 'Headphone 🎧\nHigh volume 🔊\nBroken heart💔\nRemember old memories 😔',
 'Jaquelin is another Horse😍',
 'Bhai, itni drugs logey toh sab paani hona hi tha....😂😂']

In [220]:
#fitting scraped data into dataframe
import pandas as pd
comment=pd.DataFrame()
comment['INDEX']=range(1,501)
comment['COMMENT']=comments[:500]
comment['UPVOTES']=vote[:500]
comment['TIME']=time[:500]
comment.set_index('INDEX',inplace=True)
comment

                                                 COMMENT UPVOTES          TIME
INDEX
1                   It looks best because of true 60 fps       3    1 week ago
2         Hatsoff badshah who wearing jacket in desert😂😂      75   1 month ago
3      Badshah is the only person who wears jacket in...      93   3 weeks ago
4      Let's pray for those child who don't have his ...      25    1 week ago
5                                Daily I lesson ths song          16 hours ago
...                                                  ...     ...           ...
496                                            Pani pani            1 week ago
497                                        Nice song 😍😍😍       3   3 weeks ago
498                                         Worst song 🎵           2 weeks ago
499                                                  The            1 week ago
500    Rahul Gandhi is not a politician and badshaah ...            2 days ago

[500 rows x 3 columns]

THE FINAL DATAFRAME WITH ALL THE REQUIRED DATA

QUESTION-10

In [221]:
import selenium
from selenium import webdriver

In [418]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [419]:
url='https://www.hostelworld.com/'
driver.get(url)

In [420]:
driver.maximize_window()

In [421]:
search_column=driver.find_element_by_xpath("//input[@type='text']")

In [422]:
search_column.send_keys("london")

In [373]:
from selenium.webdriver.common.keys import Keys

In [423]:
search_btn=driver.find_element_by_xpath("//button[@id='search-button']")

In [403]:
search_btn.send_keys(Keys.ENTER)

In [424]:
search_btn.click()

ElementClickInterceptedException: Message: element click intercepted: Element <button id="search-button" title="..." class="button primary large" data-v-184ab25e="" data-v-090ebbfd="">Let's go!</button> is not clickable at point (631, 545). Other element would receive the click: <li data-v-50946134="" tabindex="-1">...</li>
  (Session info: chrome=94.0.4606.61)

In [427]:
#search button malfunctioning(its working sometimes and sometimes it isnt)
london_hostels=driver.find_elements_by_xpath("//div[@class='card']/a")
london=london_hostels[7].get_attribute('href')

In [428]:
driver.get(london)

In [456]:
#scraping urls for search results
def scrape_urls(xpath):
    
    url_el=driver.find_elements_by_xpath(xpath)
    urls=[]
    for i in url_el:
        urls.append(i.get_attribute('href'))
    return urls

In [430]:
def get_text(web_el):
    list=[]
    for i in web_el:
        list.append(i.text)
    return list

In [457]:
#scraping distance from city centre
def calc_dist(xpath):
    
    dist_el=driver.find_elements_by_xpath(xpath)
    distance=[]
    distance.extend(get_text(dist_el))
    return distance

In [432]:
len(distance)

0

In [454]:
#scraping hostel name
def scrape_names(xpath):
    
    name_el=driver.find_elements_by_xpath(xpath)
    name=[]
    name.extend(get_text(name_el))
    return name

In [434]:
#scraping the ratings
def scrape_rating():
    
    rating=[]
    try:
        rating_el=driver.find_elements_by_xpath("//div[@class='score orange big']")
        rating.append(rating_el[0].text)
    except:
        rating.append("--")
    return rating

In [435]:
def scrape_total_rev():
    reviews=[]
    try:
        rev_el=driver.find_elements_by_xpath("//div[@class='reviews']")
        reviews.append(rev_el[0].text)
    except:
        reviews.append("--")
    return reviews

In [436]:
def overall_rev():
    overall=[]
    try:
        overall_=driver.find_elements_by_xpath("//div[@class='keyword']/span")
        overall.append(overall_[0].text)
    except:
        overall.append("--")
    return overall

In [437]:
def scrape_des():
    description=[]
    try:
        
        des_el=driver.find_elements_by_xpath("//div[@class='content collapse-content']")
        description.append(des_el[0].text)
    except:
        description.append("--")
    return description

In [438]:
def scrape_fac():
    facility=[]
    try:
        fac_el=driver.find_elements_by_xpath("//ul[@class='facilities']/li")
        facility.append(get_text(fac_el))
    except:
        facility.append("--")
    return facility

In [439]:
def scrape_dorm():
    dorm=[]
    try:
        dorm_el=driver.find_elements_by_xpath("//div[@class='room-title-container']")
        dorm.append(get_text(dorm_el))
    except:
        dorm.append("--")
    return dorm

In [440]:
def scrape_price():
    price=[]
    price_=[]
    try:
        price_el=driver.find_elements_by_xpath("//div[@class='price']")
        for i in range(0,len(price_el),2):
            price_.append(price_el[i])
        price.append(get_text(price_))
    except:
        price.append("--")
    return price

In [441]:
import time

In [458]:
urls=[]
name.extend(scrape_names("//h2/a"))
distance.extend(calc_dist("//div[@class='addressline']"))
urls.extend(scrape_urls("h2/a"))
len(urls)

0

In [449]:
name=[]
distance=[]
description=[]
total_rev=[]
overall_review=[]
rating=[]
facility=[]
dorm=[]
price=[]

p=0

for i in urls:
    print('iteration',p)
    driver.get(i)
    time.sleep(3)
    description.extend(scrape_des())
    total_rev.extend(scrape_total_rev())
    overall_review.extend(overall_rev())
    rating.extend(scrape_rating())
    facility.extend(scrape_fac())
    dorm.extend(scrape_dorm())
    price.extend(scrape_price())
    p=p+1
len(price)

iteration 0
iteration 1
iteration 2
iteration 3
iteration 4
iteration 5
iteration 6
iteration 7
iteration 8
iteration 9
iteration 10
iteration 11
iteration 12
iteration 13
iteration 14
iteration 15
iteration 16
iteration 17
iteration 18
iteration 19
iteration 20
iteration 21
iteration 22
iteration 23
iteration 24
iteration 25
iteration 26
iteration 27
iteration 28
iteration 29
iteration 30
iteration 31

32

In [453]:
distance

[]

THE WEBSITE HOSTELWORLD.COM STARTED MALFUNCTIONING
THE XPATH THAT I USED TO SEARCH FOR 'LONDON' EARLIER WAS LATER NOT FOUND
SAME THINGS HAPPEND WITH THE URL AND THE REST OF THE X PATHS.
LEAVING THIS QUESTION OUT UNTIL I GET A SOLUTION AFTER RAISING A TICKET.